html {
  overflow-y: scroll;
}
body {
  margin-bottom: 2em;
  font-size: 16px;
}
label, input, .media, form {
  padding: .5em;
  width: 100%;
  max-width: 410px;
}
.media {
  border: 1px solid grey;
  padding: 10px;
}
.attendee .media {
  width: 200px;
  float: left;
  margin-right: 10px;
  margin-top: .5em;
}
.media-left img {
  width: 60px;
  height: 60px;
}
img.avatar {
  width: 30px;
  height: 30px;
}
/* [START profileformconfirm] */
figure img {
  width: 100%;
  overflow: hidden;
}
figcaption {
  font-style: italic;
}
/* [END profileformconfirm] */

