html {
  overflow-y: scroll;
}

body {
  margin-bottom: 2em;
  font-size: 16px;
}

label, input, .media, form {
  padding: .5em;
  width: 100%;
  max-width: 400px;
}

.media {
  border: 1px solid black;
}

#profile-pic {
  width: 50px;
  height: 50px;
}

.media-left img, .avatar {
  width: 60px;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
}

figure img {
  width: 100%;
  overflow: hidden;
}

figcaption {
  font-style: italic;
}


