html {
  overflow-y: scroll;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

label, input, .media {
  padding: .5em;
  width: 50%;
}

.media {
  border: 1px solid black;
}


input {
  border: 1px solid black;
  display: block;
  margin: 10px;
}

#signoutsection {
  display: none;
}

#profile-pic {
  width: 50px;
  height: 50px;
}

.admin-profile-pic {
  width: 60px;
  height: 60px;
  margin-top: 20px;
}



/* [START CSS Lucas]*/


html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0;
  font-family: "PT sans", sans-serif;
  overflow: hidden; }

/*  -----------------------------
     info and vragen link styling
    -----------------------------*/
#button-info {
  display: inline-block;
  width: 150px;
  height: 50px;
  margin: 20px;
  text-align: center;
  line-height: 50px;
  vertical-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "PT sans", sans-serif;
  font-weight: bold;
  font-size: 17px;
  border: solid 2px #EE7326;
  color: white;
  letter-spacing: 3px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-shadow: 0px 0px 20px black; }

#button-info:before {
  content: '';
  position: absolute;
  width: 150px;
  height: 50px;
  background-color: #EE7326;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scaleX(0);
  transform: scaleX(0); }

#button-info:hover {
  color: #090816;
  text-shadow: none; }

#button-info:before {
  left: 22px;
  -webkit-transform-origin: right;
  transform-origin: right; }

#button-info:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  color: #090816; }

#button-info:hover:before {
  -webkit-transform-origin: left;
  transform-origin: left; }

/*  -------------------------
     Header, logo en subtitle
    -------------------------*/
.bg {
  position: fixed;
  background-image: url("../img/bg.jpeg");
  background-repeat: no-repeat;
  background-size: 105vw 105vh;
  z-index: -10;
  top: -10px;
  left: -10px;
  display: block;
  width: 105vw;
  height: 1100px;
  -webkit-filter: blur(5px) brightness(0.5);
  filter: blur(5px) brightness(0.5); }

.hero-container {
  width: 90vw;
  height: 950px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0 5vw 0 5vw; }
.hero-container .logo {
  width: 40vw;
  text-align: center;
  margin-top: 80px; }
.hero-container .logo #roc, .hero-container .logo #sub {
  color: #EE7326;
  font-size: 150px;
  text-transform: uppercase;
  font-family: sans-serif;
  letter-spacing: 7px;
  margin: 0;
  text-shadow: 0px 0px 20px black;
  overflow: hidden; }
.hero-container .logo #logo {
  margin-top: -50px;
  height: 400px;
  width: 100%;
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1); }
.hero-container .logo #sub {
  margin-top: -30px;
  font-size: 100px;
  letter-spacing: 3px; }
.hero-container .intro {
  width: 40vw;
  text-align: center;
  margin-top: 150px; }
.hero-container .intro h3 {
  color: white;
  font-weight: normal;
  font-size: 50px;
  text-shadow: 0px 0px 20px black; }
.hero-container .intro h3 span {
  color: #EE7326;
  font-weight: bold;
  text-transform: uppercase; }
.hero-container .intro a {
  margin-top: 75px;
  width: 500px;
  height: 100px;
  display: inline-block;
  background-color: #EE7326;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  line-height: 100px;
  vertical-align: center;
  border-bottom: solid 10px #AA5119;
  -webkit-box-shadow: 0 0 20px black;
  box-shadow: 0 0 20px black;
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s; }
.hero-container .intro a:hover {
  -webkit-filter: saturate(1.3);
  filter: saturate(1.3); }

.info-container {
  background-color: #090816;
  width: 100vw;
  height: 980px;
  margin-top: -75px;
  position: relative;
  z-index: 1; }
.info-container .title {
  width: 100vw;
  height: 100px;
  margin: 0 auto; }
.info-container .info {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer; }
.info-container .info .general {
  width: 40vw;
  height: 860px;
  color: white;
  font-size: 30px;
  margin: 0 0 0 50px; }
.info-container .info .general h4 {
  line-height: 100px;
  vertical-align: center;
  color: #EE7326;
  text-transform: uppercase;
  font-size: 32px;
  margin: 0;
  letter-spacing: 3px; }
.info-container .info .general span {
  font-weight: bold;
  color: #EE7326; }
.info-container .info .faq {
  margin: 0 auto 0 auto;
  width: 35vw;
  height: 760px;
  color: white;
  font-size: 26px;
  display: grid;
  grid-template-rows: repeat(auto-fill, 75px); }
.info-container .info .faq .question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer; }
.info-container .info .faq .question span {
  cursor: pointer; }
.info-container .info .faq .question #icon {
  color: #EE7326;
  font-size: 50px;
  line-height: 0px;
  vertical-align: center; }
.info-container .info .faq .question:first-child {
  margin: 30px 0 0 0; }
.info-container .info .faq .answer {
  margin-top: -15px;
  width: 30vw;
  position: relative;
  font-size: 20px;
  color: #EE7326;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: -2; }

@media (max-width: 1024px) {
  .button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  #button-info {
    width: 300px;
    height: 100px;
    line-height: 100px;
    font-size: 40px;
    border: none;
    background-color: #EE7326;
    text-shadow: none;
    -webkit-transition: none;
    transition: none;
    margin-top: 30px; }
  #button-info:hover {
    color: white; }
  #button-info:hover:before {
    -webkit-transform: none;
    transform: none; }
  .hero-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: calc(100vh - 150px); }
  .hero-container .bg {
    display: none; }
  .hero-container .logo, .hero-container .intro {
    width: 100vw;
    height: 550px;
    margin: 0; }
  .hero-container .logo {
    margin-top: 25px; }
  .hero-container .logo #roc {
    font-size: 100px; }
  .hero-container .logo #logo {
    width: 75%; }
  .hero-container .intro {
    margin-top: 100px; }
  .hero-container .intro #ctahead {
    font-size: 60px;
    margin: 0; }
  .hero-container .intro a {
    width: 75vw;
    height: 15vw;
    line-height: 15vw;
    font-size: 50px; } }
/* [END CSS Lucas]*/