extends layout



block content
  h1= title + ' demo'
  p
  | Welcome to #{title} demo. This page is for admins of the roc e-sports league. Log in
  | with a registered roc-dev account for admission.


