extends layoutadmin

block content
    .container
        h2 Admins
        if admins && admins.length
            each admin in admins
                .media
                    .media-left
                        img.admin-profile-pic.img-circle(src=admin.imageUrl ||
                        "/img/male-profile-pic-placeholder.png")
                    .media-body
                        h4= admin.name
                        p= admin.email
                        p admin level: #{admin.role}


        else
            p No admins registered yet
