extends ../layout.pug

block navbar-list
    ul.nav.navbar-nav
        li#admins
            a(href="/admin") Admins
        li#tournaments
            a(href="/admin/tournaments") Tournaments/Games

