extends layout.pug


block navbar-list
    ul.nav.navbar-nav
        li
            a(href="/subscribe") Subscribe
block navbar-profile


block content
    .container
        h2 Super Smash Bros
        p Date ...
        p Start Time ...
        p End Time ...
        p Location ...


