extends layout.pug

block content
    .container.content
        h1 Email verified
        p.
            Congratz! You're email is verified. You can now subscribe to our
            #[a(href='/tournaments') tournaments].#[br]
            #[br]
            Happy Gaming!#[br]
            #[br]
            The ROC Esports team


    script(type='text/javascript').
        $(document).ready(function () {
                $('#profile').addClass('active');
            }
        );